# Pinned for determinism. Full transitive tree, all verified permissive from
# source LICENSE files (see the retrospective for the license audit):
#   apachelogs — MIT (jwodder/apachelogs)
#   attrs      — MIT (apachelogs' own dependency)
#   pydicti    — WTFPL (apachelogs' own dependency; permissive, effectively
#                public domain — not copyleft)
# protobuf and grpcio are supplied by the Axiom runtime and are not pinned
# here (both permissive: protobuf BSD-3-Clause, grpcio Apache-2.0).
apachelogs==0.6.1
attrs==26.1.0
pydicti==1.2.1

